.slider-section-left .wrapper {
    width: 90%;
    max-width: 1536px;
    margin-inline: auto;
    position: relative;
    height: 100px;
    margin-top: 5rem;
    overflow: hidden;
    top: 10px;
    mask-image: linear-gradient(
      to right
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 1) 20%,
      rgba(0, 0, 0, 1) 80%,
      rgba(0, 0, 0, 0)
    );
  }
  
  @keyframes scrollLeft {
    to {
      left: -200px;
    }
  }
  
  .slider-section-left .item-left {
    width: 200px;
    height: 100px;
    border-radius: 6px;
    position: absolute;
    margin-top: 10px;
    left: max(calc(200px * 8), 100%);
    top: -15px; /* Move the slides up */
    animation-name: scrollLeft;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    background-size: cover;
    background-position: center;
  }
  /*stop animation when hover*/
  /* Pause animation on hover */
  /* .slider-section-left .item-left:hover {
        animation-play-state: paused;
  } */
  .slider-section-left .item1-left {
    animation-delay: calc(30s / 8 * (8 - 1) * -1);
    background-image: url('../assets/slide1.jpg');
  }
  
  .slider-section-left .item2-left {
    animation-delay: calc(30s / 8 * (8 - 2) * -1);
    background-image: url('../assets/slide2.jpg');
  }
  
  .slider-section-left .item3-left {
    animation-delay: calc(30s / 8 * (8 - 3) * -1);
    background-image: url('../assets/slide3.jpg');
  }
  .slider-section-left .item4-left {
    animation-delay: calc(30s / 8 * (8 - 4) * -1);
    background-image: url('../assets/slide4.webp');
  }
  .slider-section-left .item5-left {
    animation-delay: calc(30s / 8 * (8 - 5) * -1);
    background-image: url('../assets/slide5.jpg');
  }
  .slider-section-left .item6-left {
    animation-delay: calc(30s / 8 * (8 - 6) * -1);
    background-image: url('../assets/slide6.jpg');
  }
  .slider-section-left .item7-left {
    animation-delay: calc(30s / 8 * (8 - 7) * -1);
    background-image: url('../assets/slide7.webp');
  }
  .slider-section-left .item8-left {
    animation-delay: calc(30s / 8 * (8 - 8) * -1);
    background-image: url('../assets/slide8.webp');
  }
  
  
 /*right animation*/
 .slider-section-right .wrapper {
    width: 90%;
    max-width: 1536px;
    margin-inline: auto;
    position: relative;
    height: 100px;
    margin-top: 2rem;
    overflow: hidden;
    top: 10px;
    mask-image: linear-gradient(
      to right
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 1) 20%,
      rgba(0, 0, 0, 1) 80%,
      rgba(0, 0, 0, 0)
    );
  }
  
  @keyframes scrollRight {
    to {
      left: 200px;
    }
  }
  
  .slider-section-right .item-right {
    width: 200px;
    height: 100px;
    border-radius: 6px;
    position: absolute;
    left: -200px; /* Start from the left side */
    top: -15px; /* Move the slides up */
    animation-name: scrollRight; /* Use the new animation */
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    background-size: cover;
    background-position: center;
  }
  
  
  .slider-section-right .item1-right {
    animation-delay: calc(30s / 8 * (8 - 1) * -1);
    background-image: url('../assets/slide1.jpg');
  }
  
  .slider-section-right .item2-right {
    animation-delay: calc(30s / 8 * (8 - 2) * -1);
    background-image: url('../assets/slide2.jpg');
  }
  
  .slider-section-right .item3-right {
    animation-delay: calc(30s / 8 * (8 - 3) * -1);
    background-image: url('../assets/slide3.jpg');
  }
  
 