/* new navigation */

:root {
    --grey-dark: #595b5a;
    --grey-middle: #878787;
    --yellow: #fdb713;
    --yellow-light: #ffeec7;
    --white: #ffffff;
    --white-rbga: rgba(255, 255, 255, 0.5);
    --black: #000000;
    --black-nav: #141414;
  
    --transition: all 0.3s linear;
    --spacing: 0.25rem;
    --radius: 0.5rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --max-width: 1170px;
  
    --footerHeight: 4rem;
  }
  
  #nav-toggle {
    outline: none;
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    background: transparent;
    color: inherit;
    font: inherit;
    text-align: inherit;
    line-height: normal;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    -webkit-appearance: none;
    font-size: calc(1rem + 0.5rem);
    cursor: pointer;
  
    background: transparent;
    border-color: transparent;
    color: var(--yellow);
    font-size: 2rem;
    cursor: pointer;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    z-index: 100;
  }
  
  .nav--show {
    transform: translateY(0);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  /* footer / nav buttons */
  
  .nav-btn {
    background: transparent;
    border-color: transparent;
    color: var(--yellow);
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  #nav--top,
  #nav--close {
    display: none;
  }
  
  .arrowUp #nav--open,
  .arrowUp #nav--close {
    display: none;
  }
  
  .arrowUp #nav--top {
    display: -webkit-flex;
    display: flex;
  }
  
  /* navigation */
  
  #nav__overlay {
    position: fixed;
    top: 0%;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 101;
    background: var(--black);
    opacity: 0;
    visibility: hidden;
    transition: opacity 250ms ease-in-out;
  }
  
  .bottomZero #nav__overlay {
    opacity: 0.8;
    visibility: visible;
  }
  
  #nav-toggle {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
    margin: min(3rem, 3%);
  }
  
  .nav {
    position: -webkit-sticky;
    position: sticky;
    bottom: -600px;
    width: 100%;
    padding: 1rem 0;
    background-color: var(--black-nav);
    transition: all 250ms ease-in-out;
    z-index: 102;
  }
  
  .nav a {
    text-decoration: none;
  }
  .nav ul,
  .nav li {
    list-style: none;
  }
  
  .bottomZero .nav {
    bottom: 0;
  }
  
  .bottomZero #nav--close {
    display: -webkit-flex;
    display: flex;
  }
  
  .bottomZero #nav--open {
    display: none;
  }
  
  .bottomZero.arrowUp #nav--close {
    display: none;
  }
  
  .nav__links {
    width: 90%;
    max-width: 1150px;
    margin: 0 auto;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
  }
  
  .nav__links li {
    width: 100%;
    border-bottom: 1px solid #aaa;
  }
  
  .nav__links li a {
    display: block;
    width: auto;
    cursor: pointer;
    color: var(--white);
    font-family: "museo-sans", sans-serif;
    font-style: normal;
    font-weight: 900;
    -webkit-font-smoothing: antialiased;
    font-size: 3.25vw;
    text-transform: capitalize;
    padding: 2% 0;
  }
  
  .nav__links li:last-child a {
    color: var(--yellow-light);
  }
  
  @media only screen and (max-width: 680px) {
    .nav__links li a {
      font-size: 1.5rem;
      padding: 3% 0;
    }
  }
  
  @media only screen and (min-width: 1100px) {
    .nav__links li a {
      font-size: 2.25rem;
    }
  }
  
  @media only screen and (min-width: 681px) {
    .nav__links li:hover a {
      color: var(--yellow);
    }
    .social__links li a img:hover {
      background: var(--yellow);
    }
  }
  
  .nav__footer {
    display: -webkit-flex;
    display: flex;
    justify-content: flex-end;
    margin: 1rem auto 2rem auto;
    width: 90%;
    max-width: 1150px;
    align-items: center;
  }
  
  /* legal */
  
  .legal__links {
    display: -webkit-flex;
    display: flex;
    /* justify-content: flex-end; */
    /* margin: 1rem auto 2rem auto; */
    width: 100%;
    /* max-width: 1150px; */
  }
  
  @media only screen and (max-width: 450px) {
    .legal__links__paragraph__delimiter {
      display: none;
    }
  
    .legal__links__paragraph a {
      display: block;
    }
  }
  
  /* socials */
  
  .social__links {
    display: -webkit-flex;
    display: flex;
    justify-content: flex-end;
    /* margin: 1rem auto 2rem auto; */
    width: 100%;
    /* max-width: 1150px; */
  }
  
  .social__links li {
    margin-left: 0.5rem;
  }
  
  .social__links li a img {
    width: 1.75rem;
    background: var(--white);
  }
  