<!DOCTYPE html>
<html lang="en">


<head>

  <!-- Standard Meta Data -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description"
    content="Amine Bencheqroun est un architecte basé à Casablanca, spécialisé dans la conception moderne et durable. Découvrez ses projets innovants qui allient esthétisme et fonctionnalité.">
  <meta name="keywords"
    content="Amine Bencheqroun, architecte Casablanca, architecture moderne, design durable, maison moderne Casablanca, architecture contemporaine, rénovation moderne, design intérieur Casablanca, projets d'architecture, architecture et design marocain">
  <meta name="author" content="Amine Bencheqroun / Architecture et Design Moderne">
  

  <title>Amine Bencheqroun | Architecte Moderne à Casablanca</title>

  <!-- Open Graph Data -->
  <meta property="og:type" content="profile">
  <meta property="og:title" content="Amine Bencheqroun | Architecte Moderne à Casablanca">
  <meta property="og:description"
    content="Amine Bencheqroun est un architecte basé à Casablanca, spécialisé dans la conception moderne et durable. Découvrez ses projets innovants qui allient esthétisme et fonctionnalité.">
  <meta property="og:url" content="https://aminebencheqroun.com">
  <meta property="og:image"
    content="img/new-project-image.jpg"> <!-- Update with an appropriate image -->
  <meta property="profile:first_name" content="Amine">
  <meta property="profile:last_name" content="Bencheqroun">
  <meta property="profile:gender" content="male">
  <meta property="profile:username" content="aminebencheqroun">
  
  <!-- Pinterest Verification -->
  <meta name="p:domain_verify" content="new-verification-code" />

  <!-- Typekit Script -->
  <script src="../js/dww5wqt.js"></script>
  <script>try { Typekit.load({ async: true }); } catch (e) { }</script>

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-FYG046M26P"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
  
    gtag('config', 'G-FYG046M26P');
  </script>

  <!-- Font-awesome Styles -->
  <link rel="stylesheet" href="../css/all.min.css" />

  <!-- Stylesheet -->
  <link rel="stylesheet" type="text/css" href="../css/style.css">
  <link rel="stylesheet" type="text/css" href="../css/navigation.css" />
  <link rel="stylesheet" href="../css/welcome.css">

  <!-- Above The Fold -->
  <style>
    /*  Insert Above The Fold CSS  */
  </style>
</head>

<body itemscope itemtype="http://schema.org/ProfessionalService" class="index-page keywords noscroll" id="body">
  <link itemprop="additionalType" href="http://www.productontology.org/id/Architecture" />
  <link itemprop="additionalType" href="http://www.productontology.org/id/Interior_design" />
  <link itemprop="additionalType" href="http://www.productontology.org/id/Brand_Design" />

  <!-- The Up Studio Brand -->
  <div class="brand-home">
    <a href="index.html" id="go-home" title="The Up Studio, Long Island City, NY 11101" itemprop="url">
      <img
        src="img/theupstudio/the_UP_studio_New_York_Architecture_and_Design_Studio_Branding_Identity_Logo.png"
        alt="The Up Studio, Long Island City, NY 11101" itemprop="logo" width="265px" height="265px"
        id="upBrand-home"></a>
  </div>

  <!-- Navigation Button -->
  <button type="button" id="nav-toggle"
    aria-label="Button aligned to the top right of the page used to open the navigation.">
    <i class="fas fa-bars nav-btn" id="nav--open"></i>
    <i class="fas fa-times nav-btn" id="nav--close"></i>
    <i class="fas fa-arrow-up nav-btn" id="nav--top"></i>
  </button>

  <div class="welcome">
    <video autoplay loop muted playsinline class="video">
      <source
        src="img/theupstudio/the-up-studio-architecture-interior-brand-design-portfolio-mobile.mp4"
        type="video/mp4" id="video__source" />
      Your browser does not support video.
    </video>
    <header class="header">
      <img
        src="the-up-studio-architecture-interior-places-designed-for-people.png"
        alt="places designed for people" class="tagline">
    </header>
    <i class="fas fa-chevron-down arrowdown"></i>
  </div>

  <div class="content">
    <div class="wrapper studio-page">


      <!-- The Up Studio Portfolio -->

      <div class="row">

        <div class="phil columns-4x3 sm-columns-12x10 teamimage7 right">
          <a href="studio.html" id="aboutUP" onmouseover="yellowtext()">
            <div class="box">
              <h1>Get to know us & our</h1>
              <p><span itemprop="name">Architecture,<br>Interior, and<br>Brand Design</span></p>
            </div>
            <div></div>
          </a>
        </div>
        <div class="phil columns-8x7 sm-columns-12x10 harborhideaway-pp28">
          <a href="harborhideaway.html">
            <div class="box">
              <p>Harbor Hideaway</p>
              <h1>Award-Winning East End Escape</h1>
            </div>
            <div class="icon-lg icon harborhideaway-icon"></div>
          </a>
        </div>
        <div class="phil columns-4x4 sm-columns-12x8 insideoutcabana-16 right" style="background-position: 37% 100%;">
          <a href="insideoutcabana.html">
            <div class="box">
              <p>Inside Out Cabana</p>
              <h1>Hamptons Outdoor Living Area</h1>
            </div>
            <div class="icon-lg icon insideoutcabana-icon"></div>
          </a>
        </div>
      </div>


      <div class="row">
      
        <div class="phil columns-7x5 sm-columns-12x10 barbellhouse-28"
          style="background-size: 112%; background-position: 20% 70%;">
          <a href="barbellhouse.html">
            <div class="box">
              <p>Barbell House</p>
              <h1>New York Home with Scandinavian Charm</h1>
            </div>
            <div class="icon-md icon barbellhouse-icon">
            </div>
          </a>
        </div>
      
        <div class="phil columns-5x5 sm-columns-12x10 sightsea-40 right">
          <a href="sightsea.html">
            <div class="box">
              <p>Sight Sea</p>
              <h1>Amagansett Oceanfront Renovation</h1>
            </div>
            <div class="icon-md icon sightsea-icon"></div>
          </a>
        </div>
      
      </div>


      <div class="row">

        <div class="phil columns-6x4 sm-columns-12x8 flyingbend-06md"
          style="background-size: 130%; background-position: 48% 50%;">
          <a href="flyingbend.html">
            <div class="box">
              <p>Flying Bend</p>
              <h1>Hillside Home Along the Hudson</h1>
            </div>
            <div class="icon-md icon flyingbend-icon"></div>
          </a>
        </div>

        <div class="phil columns-6x8 sm-columns-12x12 infinityhouse-60 right" style="background-position: 0% 75%;">
          <a href="infinityhouse.html">
            <div class="box">
              <p>Infinity House</p>
              <h1>Tropical, Modern Retreat</h1>
            </div>
            <div class="icon-lg icon infinityhouse-icon"></div>
          </a>
        </div>
        
        <div class="phil columns-6x4 sm-columns-12x8 twingables-20"
          style="background-size: 122%; background-position: 90% 70%;">
          <a href="twingables.html">
            <div class="box">
              <p>Twin Gables</p>
              <h1>Water Mill Modern Farmhouse</h1>
            </div>
            <div class="icon-md icon twingables-icon"></div>
          </a>
        </div>

      </div>



      <div class="row">
        
        
        <div class="phil columns-5x4 sm-columns-12x10 theupstudio-07">
          <a href="costcalculator.html">
            <div class="box">
              <p>Cost<br>Calculator</p>
              <h1>How Much Will Your<br>New, Modern Home Cost?</h1>
            </div>
          </a>
        </div>

        <div class="phil columns-7x5 sm-columns-12x10 opencorner-25 right" style="background-position: 45% 0%;">
          <a href="opencorner.html">
            <div class="box">
              <p>Open Corner</p>
              <h1>Bright, Modern Farmhouse</h1>
            </div>
            <div class="icon-md icon opencorner-icon"></div>
          </a>
        </div>
        
        <div class="phil columns-5x4 sm-columns-12x8 cliffcovehouse-04">
          <a href="cliffcovehouse.html">
            <div class="box">
              <p>Cliff & Cove</p>
              <h1>Modern Renovation to a Victorian Home</h1>
            </div>
            <div class="icon-md icon cliffcovehouse-icon"></div>
          </a>
        </div>
        
        <div class="phil columns-7x3 sm-columns-12x8 concealedcottage-01md right" style="background-position: 25% 50%;">
          <a href="concealedcottage.html">
            <div class="box">
              <p>Concealed Cottage</p>
              <h1>Invisible Guesthouse for Art Collectors</h1>
            </div>
            <div class="icon-lg icon concealedcottage-icon"></div>
          </a>
        </div>

      </div>



      <div class="row">

        <div class="phil columns-6x6 sm-columns-12x8 personalspace-01" style="background-size: 200%;">
          <a href="personalspace/index.html">
            <div class="box">
              <p>Personal<br>Space</p>
              <h1>A Personality Test to Discover<br>Your Dream Home Wish List</h1>
            </div>
          </a>
        </div>

        <div class="phil columns-6x3 sm-columns-12x8 freefloat-05md right">
          <a href="freefloat.html">
            <div class="box">
              <p>Free Float</p>
              <h1>Modern Pool Cabana</h1>
            </div>
            <div class="icon-md icon freefloat-icon"></div>
          </a>
        </div>
        
        <div class="phil columns-6x3 sm-columns-12x8 calmmeadows-10 right" style="background-position: 57% 80%;">
          <a href="calmmeadows.html">
            <div class="box">
              <p>Calm Meadows</p>
              <h1>Tranquil Agricultural Oasis</h1>
            </div>
            <div class="icon-md icon calmmeadows-icon"></div>
          </a>
        </div>
        
      </div>


      <div class="row">

        <div class="phil columns-7x5 sm-columns-12x10 twistedridge-02sm"
          style="background-size: 120%; background-position: 0% 50%">
          <a href="twistedridge.html">
            <div class="box">
              <p>Twisted Ridge</p>
              <h1>Hudson Valley Modern Mountain Retreat</h1>
            </div>
            <div class="icon-md icon twistedridge-icon"></div>
          </a>
        </div>
        
        <div class="phil columns-5x3 sm-columns-12x8 five59w23-07 right">
          <a href="559w23.html">
            <div class="box">
              <p>559w23</p>
              <h1>Modern, Residential Development<br>Brand Design</h1>
            </div>
            <div class="icon-md icon five59w23-icon"></div>
          </a>
        </div>
        
        <div class="phil columns-5x5 sm-columns-12x8 stitchhouse-01 right">
          <a href="stitchhouse.html">
            <div class="box">
              <p>Stitch House</p>
              <h1>Three Interconnected Family Homes</h1>
            </div>
            <div class="icon-md icon stitchhouse-icon"></div>
          </a>
        </div>
        
        <div class="phil columns-7x3 sm-columns-12x4 theupstudio-02">
          <a href="architectureprocess/index.html">
            <div class="box">
              <p>Modern Home Design Process</p>
              <h1>A Video Series about Our<br>Architecture & Interior Phases</h1>
            </div>
            <div></div>
          </a>
        </div>

      </div>

      
      
      <div class="row">
      
        <div class="phil columns-4x4 sm-columns-12x8 westbeech-19">
          <a href="westbeech.html">
            <div class="box">
              <p>West Beech</p>
              <h1>Sustainable Beach House</h1>
            </div>
            <div class="icon-lg icon westbeech-icon"></div>
          </a>
        </div>
        
        <div class="phil columns-8x4 sm-columns-12x10 victorylap-05 right">
          <a href="victorylap.html">
            <div class="box">
              <p>Victory Lap</p>
              <h1>Tranquil Home for Wellness</h1>
            </div>
            <div class="icon-sm icon victorylap-icon"></div>
          </a>
        </div>
        
      </div>
      

    </div>
  </div>


  <!-- Page Overlay For Nav -->
  <div id="nav__overlay"></div>

  <!-- Navigation -->
  <nav id="nav" class="nav">
    <ul class="nav__links">
      <li><a href="architecture.html">architecture.</a></li>
      <li><a href="interior.html">interior.</a></li>
      <li><a href="branddesign.html">brand design.</a></li>
      <li><a href="studio-2.html">studio.</a></li>
      <li><a href="resources.html">resources.</a></li>
      <li><a href="contact/index.html">contact.</a></li>
      <li><a href="contact/newproject.html">start a project.</a></li>
    </ul>
    <div>
      <div class="nav__footer">
        <div class="legal__links">
          <p class="legal__links__paragraph">
            <a href="privacypolicy.html">Privacy Policy</a>
            <span class="legal__links__paragraph__delimiter"> | </span>
            <a href="termsofuse.html">Terms of Use</a>
          </p>
        </div>
        <ul class="social__links">
      <li>
        <a href="https://www.instagram.com/theupstudio/" target="_blank" aria-label="Link to Instagram page">
          <img src="img/theupstudio/instagram-icon.png" alt="Instagram">
        </a>
      </li>
      <li>
        <a href="https://www.facebook.com/theupstudio/" target="_blank" aria-label="Link to Facebook page">
          <img src="img/theupstudio/facebook-icon.png" alt="Facebook">
        </a>
      </li>
      <li>
        <a href="https://www.youtube.com/channel/UCgOmL61ajxu55wQMSnUofGg" target="_blank"
          aria-label="Link to YouTube channel">
          <img src="img/theupstudio/youtube-icon.png" alt="YouTube">
        </a>
      </li>
    </ul>
  </nav>
  <link rel="icon" type="image/ico" href="favicon.ico">
  <script src="../js/navigation.js"></script>
  <script src="../js/jquery.min.js"></script>
  <script src="../js/welcome.js"></script>
  <script>
    function yellowtext() {
      var x = document.getElementById("aboutUP");
      x.querySelector("p").style.color = '#ffffff';
    }
  </script>
  <script>
    const isMobile = () => {
      return navigator.maxTouchPoints > 0 && /Android|iPhone/i.test(navigator.userAgent);
    }

    const videoElement = document.querySelector('.video')
    const videoSource = document.getElementById('video__source')

    const srcMobile = 'img/theupstudio/the-up-studio-architecture-interior-brand-design-portfolio-mobile.mp4';
    const srcDesktop = 'img/theupstudio/the-up-studio-architecture-interior-brand-design-portfolio.mp4';

    window.addEventListener("DOMContentLoaded", (event) => {
      (isMobile()) ? videoSource.src = srcMobile : videoSource.src = srcDesktop;
      videoElement.load();
      // videoElement.play();
    }, false);
  </script>
</body>


<!-- Mirrored from www.theupstudio.com/ by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 27 Aug 2024 04:26:21 GMT -->
</html>