<!DOCTYPE html>
<html lang="en">


<head>

  <!-- Standard Meta Data -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description"
    content="Amine Bencheqroun est un architecte basé à Casablanca, spécialisé dans la conception moderne et durable. Découvrez ses projets innovants qui allient esthétisme et fonctionnalité.">
  <meta name="keywords"
    content="Amine Bencheqroun, architecte Casablanca, architecture moderne, design durable, maison moderne Casablanca, architecture contemporaine, rénovation moderne, design intérieur Casablanca, projets d'architecture, architecture et design marocain">
  <meta name="author" content="Amine Bencheqroun / Architecture et Design Moderne">
  

  <title>Amine Bencheqroun | Architecte Moderne à Casablanca</title>

  <!-- Open Graph Data -->
  <meta property="og:type" content="profile">
  <meta property="og:title" content="Amine Bencheqroun | Architecte Moderne à Casablanca">
  <meta property="og:description"
    content="Amine Bencheqroun est un architecte basé à Casablanca, spécialisé dans la conception moderne et durable. Découvrez ses projets innovants qui allient esthétisme et fonctionnalité.">
  <meta property="og:url" content="https://aminebencheqroun.com">
  <meta property="og:image"
    content="img/new-project-image.jpg"> <!-- Update with an appropriate image -->
  <meta property="profile:first_name" content="Amine">
  <meta property="profile:last_name" content="Bencheqroun">
  <meta property="profile:gender" content="male">
  <meta property="profile:username" content="aminebencheqroun">

  <!-- Typekit Script -->
  <script src="../js/dww5wqt.js"></script>
  <script>try { Typekit.load({ async: true }); } catch (e) { }</script>

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-FYG046M26P"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-FYG046M26P');
  </script>

  <!-- Font-awesome Styles -->
  <link rel="stylesheet" href="../css/all.min.css" />


  <!-- Stylesheet -->
  <link rel="stylesheet" type="text/css" href="../css/style.css">
  <link rel="stylesheet" type="text/css" href="../css/navigation.css" />
  <link rel="stylesheet" href="../css/welcome.css">

  <!--bootstrap-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  <!-- geolocation -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
  
  <style>
    body {
      background-color: black;
    }
    .card-img {
        filter: grayscale(100%);
        transition: all 0.4s ease;
    }

    .card:hover .card-img {
        filter: grayscale(0%);
        transform: scale(1.05);
    }

    .card-title, .card-text {
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    }

    .card {
        overflow: hidden;
        border: none;
    }
    /*table style*/
    .table-dark-custom {
            background-color: black;
            color: white;
        }
    .table-dark-custom th, .table-dark-custom td {
        background-color: black;
        color: white;
        border-color: #444;
    }
</style>
</head>

<body itemscope itemtype="http://schema.org/ProfessionalService" class="index-page keywords noscroll" id="body">
  <link itemprop="additionalType" href="http://www.productontology.org/id/Architecture" />
  <link itemprop="additionalType" href="http://www.productontology.org/id/Interior_design" />
  <link itemprop="additionalType" href="http://www.productontology.org/id/Brand_Design" />

  <!-- The Up Studio Brand -->
  <div class="brand-home">
    <a href="index.html" id="go-home" title="The Up Studio, Long Island City, NY 11101" itemprop="url">
      <img
        src="../assets/logo.svg"
        alt="The Up Studio, Long Island City, NY 11101" itemprop="logo" width="265px" height="265px"
        id="upBrand-home"></a>
  </div>

  <!-- Navigation Button -->
  <button type="button" id="nav-toggle"
    aria-label="Button aligned to the top right of the page used to open the navigation.">
    <i class="fas fa-bars nav-btn" id="nav--open"></i>
    <i class="fas fa-times nav-btn" id="nav--close"></i>
    <i class="fas fa-arrow-up nav-btn" id="nav--top"></i>
  </button>
<!--welcome-->
  <div class="welcome">
    <video autoplay loop muted playsinline class="video">
      <source
        src="img/theupstudio/the-up-studio-architecture-interior-brand-design-portfolio-mobile.mp4"
        type="video/mp4" id="video__source" />
      Your browser does not support video.
    </video>
    <header class="header">
      <img
        src="../assets/places-designed-for-people.png"
        alt="places designed for people" class="tagline">
    </header>
    <i class="fas fa-chevron-down arrowdown"></i>
  </div>

  <div class="content">
    <div class="wrapper studio-page">

<div class="container mt-5">
  <div class="row mb-4">
      <div class="col-lg-7 col-md-12 mb-4">
          <div class="card bg-dark text-white">
              <img src="../assets/picme.jpg" class="card-img" alt="Barbell House">
              <div class="card-img-overlay d-flex flex-column justify-content-center">
                  <h5 class="card-title">Barbell House</h5>
                  <p class="card-text">New York Home with Scandinavian Charm</p>
              </div>
          </div>
      </div>
      <div class="col-lg-5 col-md-12 mb-4">
          <div class="card bg-dark text-white mb-2 h-50">
              <img src="../assets/6.jpg" class="card-img" alt="Sight Sea">
              <div class="card-img-overlay d-flex flex-column justify-content-center">
                  <h5 class="card-title">Sight Sea</h5>
                  <p class="card-text">Amagansett Oceanfront Renovation</p>
              </div>
          </div>
          <div class="card bg-dark text-white mt-2 h-50">
            <img src="../assets/7.webp" class="card-img" alt="Sight Sea">
            <div class="card-img-overlay d-flex flex-column justify-content-center">
                <h5 class="card-title">Sight Sea</h5>
                <p class="card-text">Amagansett Oceanfront Renovation</p>
            </div>
          </div>
      </div>
  </div>

  <div class="row mb-4">
      <div class="col-lg-6 col-md-12 mb-4">
          <div class="card bg-dark text-white">
              <img src="../assets/5.jpg" class="card-img" alt="Flying Bend">
              <div class="card-img-overlay d-flex flex-column justify-content-center">
                  <h5 class="card-title">Flying Bend</h5>
                  <p class="card-text">Hillside Home Along the Hudson</p>
              </div>
          </div>
      </div>
      <div class="col-lg-6 col-md-12 mb-4">
          <div class="card bg-dark text-white">
              <img src="../assets/4.jpg" class="card-img" alt="Infinity House">
              <div class="card-img-overlay d-flex flex-column justify-content-center">
                  <h5 class="card-title">Infinity House</h5>
                  <p class="card-text">Tropical, Modern Retreat</p>
              </div>
          </div>
      </div>
  </div>

  <div class="row mb-4">
      <div class="col-lg-4 col-md-12 mb-4 ">
          <div class="card bg-dark text-white h-100">
              <img src="../assets/3.jpg" class="card-img" alt="Twin Gables">
              <div class="card-img-overlay d-flex flex-column justify-content-center">
                  <h5 class="card-title">Twin Gables</h5>
                  <p class="card-text">Water Mill Modern Farmhouse</p>
              </div>
          </div>
      </div>
      <div class="col-lg-8 col-md-12 mb-4">
          <div class="card bg-dark text-white">
              <img src="../assets/2.webp" class="card-img" alt="Concealed Cottage">
              <div class="card-img-overlay d-flex flex-column justify-content-center">
                  <h5 class="card-title">Concealed Cottage</h5>
                  <p class="card-text">Invisible Guesthouse for Art Collectors</p>
              </div>
          </div>
      </div>
  </div>

  <div class="row mb-4">
      <div class="col-lg-8 col-md-12 mb-4">
          <div class="card bg-dark text-white">
              <img src="../assets/0.webp" class="card-img" alt="West Beech">
              <div class="card-img-overlay d-flex flex-column justify-content-center">
                  <h5 class="card-title">West Beech</h5>
                  <p class="card-text">Sustainable Beach House</p>
              </div>
          </div>
      </div>
      <div class="col-lg-4 col-md-12 mb-4">
          <div class="card bg-dark text-white mb-4">
              <img src="../assets/1.webp" class="card-img" alt="Victory Lap">
              <div class="card-img-overlay d-flex flex-column justify-content-center">
                  <h5 class="card-title">Victory Lap</h5>
                  <p class="card-text">Tranquil Home for Wellness</p>
              </div>
          </div>
          <div class="card bg-dark text-white">
            <img src="../assets/0.webp" class="card-img" alt="Victory Lap">
            <div class="card-img-overlay d-flex flex-column justify-content-center">
                <h5 class="card-title">Victory Lap</h5>
                <p class="card-text">Tranquil Home for Wellness</p>
            </div>
          </div>
      </div>
  </div>
</div>
<!--horaire et geolocation-->
<div class="row">
  <!--horaire-->
  <div class="col-md-6 p-2 mb-2">
    <h2>Horaire</h2>
    <table class="table table-bordered h-100 table-dark-custom">
      <thead>
        <tr>
          <th>Jour</th>
          <th>Heures</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Lundi</td>
          <td>09:00–17:00</td>
        </tr>
        <tr>
          <td>Mardi</td>
          <td>09:00–17:00</td>
        </tr>
        <tr>
          <td>Mercredi</td>
          <td>09:00–17:00</td>
        </tr>
        <tr>
          <td>Jeudi</td>
          <td>09:00–17:00</td>
        </tr>
        <tr>
          <td>Vendredi</td>
          <td>09:00–17:00</td>
        </tr>
        <tr>
          <td>Samedi</td>
          <td>09:00–12:00</td>
        </tr>
      </tbody>
    </table>
  </div>
  
    <!--geolocation-->
  <div class="col-12 col-md-6">
    <h2>Location</h2>
    <div id="map" style="height: 500px; width: 100%;"></div>
  </div>
</div>
  <!-- Page Overlay For Nav -->
  <div id="nav__overlay"></div>

  <!-- Navigation -->
  <nav id="nav" class="nav">
    <ul class="nav__links">
      <li><a href="architecture.html">architecture.</a></li>
      <li><a href="interior.html">interior.</a></li>
      <li><a href="branddesign.html">brand design.</a></li>
      <li><a href="studio-2.html">studio.</a></li>
      <li><a href="contact/index.html">contact.</a></li>
    </ul>
    <div>
      <div class="nav__footer">
        <ul class="social__links">
      <li>
        <a href="https://www.instagram.com/theupstudio/" target="_blank" aria-label="Link to Instagram page">
          <img src="img/theupstudio/instagram-icon.png" alt="Instagram">
        </a>
      </li>
      <li>
        <a href="https://www.facebook.com/theupstudio/" target="_blank" aria-label="Link to Facebook page">
          <img src="img/theupstudio/facebook-icon.png" alt="Facebook">
        </a>
      </li>
      <li>
        <a href="https://www.youtube.com/channel/UCgOmL61ajxu55wQMSnUofGg" target="_blank"
          aria-label="Link to YouTube channel">
          <img src="img/theupstudio/youtube-icon.png" alt="YouTube">
        </a>
      </li>
    </ul>
  </nav>
  <link rel="icon" type="image/ico" href="favicon.ico">
  <script src="../js/navigation.js"></script>
  <script src="../js/jquery.min.js"></script>
  <script src="../js/welcome.js"></script>
  <script>
    function yellowtext() {
      var x = document.getElementById("aboutUP");
      x.querySelector("p").style.color = '#ffffff';
    }
  </script>
  <script>
    const isMobile = () => {
      return navigator.maxTouchPoints > 0 && /Android|iPhone/i.test(navigator.userAgent);
    }

    const videoElement = document.querySelector('.video')
    const videoSource = document.getElementById('video__source')

    const srcMobile = 'img/theupstudio/the-up-studio-architecture-interior-brand-design-portfolio-mobile.mp4';
    const srcDesktop = 'img/theupstudio/the-up-studio-architecture-interior-brand-design-portfolio.mp4';

    window.addEventListener("DOMContentLoaded", (event) => {
      (isMobile()) ? videoSource.src = srcMobile : videoSource.src = srcDesktop;
      videoElement.load();
      // videoElement.play();
    }, false);
  </script>
  <!--slides animation-->
  <!-- jQuery and Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
  <!-- geolocation -->
  <script>
    var map = L.map('map').setView([33.86738628373662, -5.552988428996818], 13); // Replace latitude and longitude with your client's location
  
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);
    L.marker([33.86738628373662, -5.552988428996818]).addTo(map)
      .bindPopup('Client Location')
      .openPopup();
  </script>
</body>
</html>